{% extends "dashboard.html" %}
{% block body_block %}
    
{% load staticfiles %}
{% load bootstrap4 %}

    <div class ="container bg-secondary">
      <div class="row">
        <div class="col-md-12 mx-auto bg-light px-4">
          <h4 class=' display-4 alert alert-primary text-center my-3'>Change Password for user <span class='text-danger'> {{user}}</span> </h4>
            <div class='row'>
                <div class='col-md-4 mx-auto p-2 bg-danger'>
                        <form action="" method='post' class='p-4 bg-light'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <input type="password" class='form-control' name='op' placeholder='Old Password'/>
                                </div>
                                <div class='form-group'>
                                        <input type="password" class='form-control' name='n1' placeholder='New Password'/>
                                </div>
                                <div class='form-group'>
                                    <input type="password" class='form-control' name='n2' placeholder='Re-enter New Password'/>
                                </div>
                                <div class='form-group'>
                                    <input type="submit" class='btn btn-primary' placeholder='Old Password'/>
                                </div>
                
                            </form>
                </div>
            </div>
        </div>
      </div>
    </div>
{% block form %}

{% endblock %}
{% endblock %}
