{% extends "dashboard.html"%}
{% load staticfiles %}
{% block body_block %}
{% if postdict.img %}
<div class="row py-5" style='background: url("/media/{{postdict.img}}");background-size:100% 100%;'>
  {% endif %}
  <div class="col-md-12 py-5 text-center">
    <h1 class=' py-3 text-white font-weight-bold' style='font-family:arial; background:rgba(0,0,0,0.5)'>{{postdict.title}}</h1>
  </div>
</div>
  <div class='container text-center py-2'>
    <div class='row'>
        <div class='col-md-12 bg-white mb-2'>
            <p>{{postdict.text}}</p>
            <span class='text-secondary float-right'> On {{postdict.create}}</span>
          </div>
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col-md-10">
                <textarea name="com" rows="4" width='50%' placeholder='Type comment here ...' class='form-control'></textarea>
              </div>
              <div class="col-md-2">
                <input type="submit" class='btn-info btn-block py-2 border-0' name="" value="Comment">
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class='col-md-12 text-left'>
        <p style='font-family:cursive;'>Total Comments : {{total}}  Likes {{tl}}</p>
        <ul class='cmt list-group'>
          {% for i in comm%}
            <li class='list-group-item'>  <p class='text-primary' style='font-family:cursive;'>

                  {% if i.commenterid.profile_pic %}
                  <img src="/media/{{i.commenterid.profile_pic}}" style='border-radius:50%;' height=50 width=50 alt="">
                {% else %}
                <img src="{% static 'images/no_img.jpg'%}" style='border-radius:50%;' height=50 width=50 alt="">
                {% endif %}

                  {{i.commenterid.user.username}}</p>
                  <p>{{i.comment}}</p> </li>


          {% endfor %}

        </ul>
      </div>
    </div>
  </div>

{% endblock %}
