{% extends "dashboard.html" %}
{% block mycss %}
  <style media="screen">
    .ab:hover{
      box-shadow:10px 10px 8px #ccc;
      height:45;
      width:45;
      border-radius:50%;
    }
  </style>
{% endblock %}
<div class="container">
{% block body_block %}
  <div class="row">
    <div class="col-md-12">
      <h4 style='font-family:cursive'>Total Friends: {{total}}</h4>
      <ul class='list-group'>
        {% for i in friendList %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <a href="/media/{{i.pp}}"> <img src="/media/{{i.pp}}" class=' ab rounded-circle' alt="No Image" height=40 width=40></a>
            </div>
            <div class="col-md-4">
              <p class='text-primary'  style=''>{{i.un}}</p>

            </div>
            <div class="col-md-6">
              <a href="{% url "follow"%}?id={{i.id}}" class="mx-2 text-danger" title='Unfollow'><i class="far fa-times-circle" style='font-size:30px;'></i></a>
              <a href="{% url 'finalapp:user_inbox'%}?id={{i.id}}" class='' titile=/messafe><i class="fab fa-facebook-messenger" style='font-size:30px;'></i></a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endblock %}
