{% load staticfiles %}
{% load bootstrap4 %}

    <div class ="container bg-secondary">
      <div class="row">
        <div class="col-md-6 mx-auto bg-light px-4 my-5">
          <h1 class='alert alert-primary text-center my-3'>Registeration Form</h1>
          {{al}}
        </div>
      </div>
    </div>
{% block form %}

{% endblock %}
