{% extends "dashboard.html"%}
{% block body_block %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-info p-5">
      <div class="row ">
        <div class="col-md-4">

          <img src="/media/{{post_detail.image }}" height=200 width=200 alt="No Image">
        </div>
        <div class="col-md-8 ">
          
          <h4 class='display-4'>{{post_detail.title }}</h4>
          <p>{{post_detail.text}}</p>
          <small class='bg-light p-1'><i class="far fa-clock"></i> {{post_detail.create_date}}</small>
        </div>
      </div>
      <div class="col-md-12 text-center mt-4 mx-auto">
        <a href="#"></a>
        <a href="{% url "finalapp:post_update" pk=post_detail.pk %}" class='btn btn-warning'><i class="fas fa-edit"></i> Update</a>
        <a href="{% url "finalapp:post_delete" pk=post_detail.pk %}" class='btn btn-danger'><i class="fas fa-trash-alt"></i> Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock%}
