{% extends "dashboard.html"%}
{% block body_block %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class='card-columns'>
          {% for post in post_list %}
          <div class='card'>
            
                <div class='card-head'>
                    <img src="/media/{{post.image}}" height=200 width=100% alt="No Image">
                </div>
                <div class='card-body'>
                  <p class='text-primary pb-0'>{{post.title}}
                    <a href="/finalapp/{{ post.id }}" class='float-right' title='View Post'><i style='font-size:30px;' class="far fa-eye"></i> </a>
                  </p>
                    <small>Published at: {{post.create_date}}</small>
                </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock%}
